{% extends 'base_pg1.html' %}

    {% block body_block %}

    <!--

    <style type=text/css>
        .jumbotron {
            background: none !important;
            position: fixed;
            left: 50px;
        }
        
        .bottom {
            position: fixed;
            bottom: 0;
        }
        
        .bottomright {
            position: fixed;
            bottom: 8px;
            right: 16px;
            font-size: 18px
        }
    </style>
-->
    
        <div class="jumbotron" style="color:yellow">
            <h2> Welcome to the <strong style="color:red">Car care </strong> portal.</h2>
            <h3>We are sorry your car / vehicle is damaged.</h3>
            <h3>Let us help you get back on the road</h3>
        </div>
        
        <div class="bottom" class="jumbotron" style="color:white">
            <h4>How does this works</h4>
            <h5><li>Click on "Toolkit" on the Navbar Menu.</li></h5>
            <h5><li>Load the damaged vehicle image.</li></h5>
            <h5><li>Then click on the "Process" button.</li></h5>
        </div>
       
        <div class="bottomright" class="jumbotron" style="color:white"><h6>Copyright: johnsonojeniyi@gmail.com</h6></div>
{% endblock %}